.container {
    background: palegreen;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
}

.item {
    background-color: orange;
    margin: 10px;
}

#container-01 {
    flex-flow: row wrap;
}

#container-02 {
    flex-flow: column wrap;    
    height: 300px;
}

.item-1 {
    width: 50px;
    height: 50px;
}

.item-2 {
    width: 80px;
    height: 80px;
}

.item-3 {
    width: 40px;
    height: 40px;
}